.DS_Store
.idea/
.vscode/
tmp/
*.log
.next

**/node_modules/
build/
dist/
npm-debug.log*
.eslintcache

yarn-*.log
*.tsbuildinfo

# Env files
.env*
!.env.example

# Random things
package-lock.json
yarn.lock